.content
{
    display: flex;
    flex-direction: row;
    height: 40em;
    border: 2em solid;
}
.iteam1
{
background-color: rgb(7, 224, 25);
}
.iteam2
{
    background-color: rgb(199, 196, 27);
}
.iteam3
{
    background-color: rgb(224, 105, 7);
}
.iteam4
{
    background-color: rgb(126, 7, 224);
}
.iteam5
{
    justify-self:flex-end;
    background-color: rgb(224, 7, 43);
}
.iteam6
{
    background-color: rgb(7, 173, 224);
}

